/* Global */

@import url("./global/global.css");
@import url("./global/header.css");
@import url("./global/footer.css");

/* Utilidades */

@import url("./utilidades/componentes.css");
@import url("./utilidades/tipografia.css");
@import url("./utilidades/cores.css");

/* Home */

@import url("./home/home-introducao.css");
@import url("./home/home-servicos.css");
@import url("./home/home-pacotes.css");
@import url("./home/home-depoimentos.css");

/* Seções */

@import url("./secoes/sobre.css");
