.container {
  max-width: 1200px;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 740px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.titulo-p {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  border-top: 3px solid var(--cor-p4);
  border-bottom: 3px solid var(--cor-p4);
}

.shadow-1 {
  box-shadow: 0px 2px 6px rgba(155, 133, 125, 0.25);
}

.shadow-2 {
  box-shadow: 0px 2px 6px rgba(107, 142, 173, 0.25);
}

.btn-1 {
  display: block;
  max-width: max-content;
  background: var(--cor-p2);
  color: var(--cor-s2);
  padding: 12px 40px;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-1:hover {
  background: var(--cor-s3);
  color: var(--cor-s1);
}

.btn-2 {
  display: block;
  background: var(--cor-s3);
  padding: 12px 40px;
  color: var(--cor-s1);
  border-radius: 4px;
  transition: 0.3s;
}

.btn-2:hover {
  background: var(--cor-p2);
  color: var(--cor-s3);
}
