.font-1-xxl {
  font: 500 3.75rem/1 "Gabarito", sans-serif;
}

.font-1-xl {
  font: 500 2.5rem/1.2 "Gabarito", sans-serif;
}

.font-1-l {
  font: 500 2.25rem/1.12 "Gabarito", sans-serif;
}

.font-2-xxl {
  font: 500 1.75rem/1.15 "Hepta Slab", serif;
}

.font-2-xxl-b {
  font: 500 1.75rem/1.15 "Hepta Slab", serif;
  letter-spacing: 1.5%;
}

.font-2-xl {
  font: 400 1.5rem/1.35 "Hepta Slab", serif;
}

.font-2-l {
  font: 400 1.5rem/1.15 "Hepta Slab", serif;
}

.font-2-m {
  font: 400 1.25rem/1.4 "Hepta Slab", serif;
}

.font-2-s {
  font: 400 1.125rem/1.55 "Hepta Slab", serif;
}

.font-2-s-b {
  font: 500 1.125rem/1.55 "Hepta Slab", serif;
}

.font-2-xs {
  font: 600 0.875rem/1.15 "Hepta Slab", serif;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .font-1-xl {
    font: 500 2rem/1.125 "Gabarito", sans-serif;
  }

  .font-2-m {
    font: 400 1rem/1.5 "Hepta Slab", serif;
  }
}
