.footer {
  padding-top: 80px;
  margin-top: 200px;
  border-top: 2px solid var(--cor-p2);
}

.footer > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

@media (max-width: 800px) {
  .footer > ul {
    gap: 16px;
  }
}

@media (max-width: 700px) {
  .footer > ul {
    grid-template-columns: 1fr 1fr;
    gap: 80px 40px;
  }
}

@media (max-width: 520px) {
  .footer > ul {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.footer ul .footer-contato {
  margin-bottom: 32px;
}

.footer ul .footer-redes .info-lista li a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer ul h2 {
  margin-bottom: 24px;
}

.footer ul h2::after {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background: var(--cor-p6);
  margin-top: 12px;
}

.footer ul .localizacao-image {
  margin-bottom: 24px;
}

.footer ul .info-lista li {
  border-bottom: 2px solid var(--cor-p3);
  padding-bottom: 8px;
}

.footer ul .info-lista li + li {
  margin-top: 16px;
}
