body {
  background: #faf7f2;
  margin: 0px;
  margin-top: 80px;
  margin-bottom: 120px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: inherit;
  list-style: none;
}
