.header-bg {
  background: var(--cor-0);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
}

.header-nav ul {
  display: flex;
  gap: 40px;
}

.header-nav ul li:last-child {
  margin-left: 20px;
}

.header-nav ul li::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: currentColor;
  margin: 0px auto;
  margin-top: 4px;
  transition: 0.3s;
}

.header-nav ul li::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: currentColor;
  margin: 0px auto;
  margin-bottom: 4px;
  transition: 0.3s;
}

.header-nav ul li:hover::after,
.header-nav ul li:hover::before {
  width: 100%;
}
