.header-bg {
  background: var(--cor-0);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
}

.header-nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.header-nav ul li {
  cursor: pointer;
  padding: 6px 12px;
}

@media (max-width: 800px) {
  .header {
    justify-content: center;
  }

  .header-nav ul {
    justify-content: center;
  }

  .header-nav ul li:last-child {
    display: block;
    max-width: 100%;
    width: 100%;
    justify-self: center;
    text-align: center;
  }
}

.header-nav ul li::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: currentColor;
  margin: 0px auto;
  margin-bottom: 4px;
  transition: 0.3s;
}

.header-nav ul li::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: currentColor;
  margin: 0px auto;
  margin-top: 4px;
  transition: 0.3s;
}

.header-nav ul li:hover::before,
.header-nav ul li:hover::after {
  width: 100%;
}
