.home-pacotes-bg {
  background: var(--cor-0);
  padding: 40px 0px 120px 0px;
  margin-top: 80px;
  margin-bottom: 120px;
}

.home-pacotes h2 {
  text-align: center;
  margin-bottom: 40px;
}

.home-pacotes ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.home-pacotes ul li {
  background: var(--cor-s1);
  padding: 20px;
  min-width: 250px;
  flex: 1;
}

@media (max-width: 800px) {
  .home-pacotes ul {
    gap: 20px;
  }

  .home-pacotes ul li {
    padding: 12px;
  }
}

.home-pacotes ul li img {
  justify-self: center;
  border-radius: 4px;
}

.home-pacotes ul li h3,
.home-pacotes ul li span,
.home-pacotes ul li .btn-2 {
  display: block;
  text-align: center;
}

.home-pacotes .pacote-text {
  margin: 20px 0px 16px 0px;
}

.home-pacotes ul li h3 {
  margin-bottom: 4px;
}

.home-pacotes ul li .pacote-servicos {
  margin-bottom: 8px;
}
